/*-----------------------------------------------------------*/
/*-------------------------- LAPTOP ----------------------------*/
/*-----------------------------------------------------------*/
@media (max-width: 1200px) {


		.skills ul li img {
			transform: scale(1.03);
		}
}

/*-----------------------------------------------------------*/
/*-------------------------- TABLET ----------------------------*/
/*-----------------------------------------------------------*/
@media (max-width: 1024px) {


section { padding: 60px 0; }

.row,
.hero-text {
	width: 100%;
	padding: 0 2%;
}

.about-text {
	width: 80%;
	margin-left: 10%;
}


.card {
	width: 100%;
	margin-left: 0;
}

.copyright { padding: 30px 0; }


}